.button {
  cursor: pointer;
}
.imageGallery {
  cursor: pointer;
  width: 100px;
}
.galleryImage {
  cursor: pointer;
}
.viewGallery {
  width: 100%;
}
.reviewContent {
  position: relative;
  text-align: auto;
  margin-top: auto;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.modal {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100%;
}